# Creating Logistic Regression for Pre-processed data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn
seaborn.set()

# Reading Pre-processed data

In [4]:
data_preprocessed=pd.read_csv("Absenteeism_preprocessed.csv")
data_preprocessed

,Reason1,Reason2,Reason3,Reason4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,month,weekday
0,0,0,0,1,2015-07-07,289,36,33,239.554,30,0,2,1,4,7,1
1,0,0,0,0,2015-07-14,118,13,50,239.554,31,0,1,0,0,7,1
2,0,0,0,1,2015-07-15,179,51,38,239.554,31,0,0,0,2,7,2
3,1,0,0,0,2015-07-16,279,5,39,239.554,24,0,2,0,4,7,3
4,0,0,0,1,2015-07-23,289,36,33,239.554,30,0,2,1,2,7,3
5,0,0,0,1,2015-07-10,179,51,38,239.554,31,0,0,0,2,7,4
6,0,0,0,1,2015-07-17,361,52,28,239.554,27,0,1,4,8,7,4
7,0,0,0,1,2015-07-24,260,50,36,239.554,23,0,4,0,4,7,4
8,0,0,1,0,2015-07-06,155,12,34,239.554,25,0,2,0,40,7,0
9,0,0,0,1,2015-07-13,235,11,37,239.554,29,1,1,1,8,7,0
10,1,0,0,0,2015-07-20,260,50,36,239.554,23,0,4,0,8,7,0
11,1,0,0,0,2015-07-14,260,50,36,239.554,23,0,4,0,8,7,1
12,1,0,0,0,2015-07-15,260,50,36,239.554,23,0,4,0,8,7,2
13,1,0,0,0,2015-07-15,179,51,38,239.554,31,0,0,0,1,7,2
14,0,0,0,1,2015-07-15,179,51,38,239.554,31,0,0,0,4,7,2
15,1,0,0,0,2015-07-17,246,25,41,239.554,23,0,0,0,8,7,4
16,0,0,0,1,2015-07-17,179,51,38,239.554,31,0,0,0,2,7,4
17,0,0,1,0,2015-07-27,179,51,38,239.554,31,0,0,0,8,7,0
18,1,0,0,0,2015-07-30,189,29,33,239.554,25,0,2,2,8,7,3
19,0,0,0,1,2015-08-05,248,25,47,205.917,32,0,2,1,2,8,2
20,1,0,0,0,2015-08-12,330,16,28,205.917,25,1,0,0,8,8,2
21,1,0,0,0,2015-08-03,179,51,38,205.917,31,0,0,0,1,8,0
22,1,0,0,0,2015-08-10,361,52,28,205.917,27,0,1,4,40,8,0
23,0,0,0,1,2015-08-14,260,50,36,205.917,23,0,4,0,4,8,4
24,0,0,1,0,2015-08-17,289,36,33,205.917,30,0,2,1,8,8,0
25,0,0,0,1,2015-08-24,361,52,28,205.917,27,0,1,4,7,8,0
26,0,0,0,1,2015-08-04,289,36,33,205.917,30,0,2,1,1,8,1
27,0,0,0,1,2015-08-12,157,27,29,205.917,22,0,0,0,4,8,2
28,0,0,1,0,2015-08-19,289,36,33,205.917,30,0,2,1,8,8,2
29,0,0,0,1,2015-08-28,179,51,38,205.917,31,0,0,0,2,8,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
670,0,0,0,1,2018-04-24,155,12,34,246.288,25,0,2,0,4,4,1
671,0,0,1,0,2018-04-26,225,26,28,246.288,24,0,1,2,8,4,3
672,1,0,0,0,2018-04-26,118,13,50,246.288,31,0,1,0,2,4,3
673,0,0,0,1,2018-04-27,179,26,30,246.288,19,1,0,0,2,4,4
674,0,0,0,1,2018-05-07,235,11,37,237.656,29,1,1,1,8,5,0
675,0,0,1,0,2018-05-09,225,15,41,237.656,28,1,2,2,3,5,2
676,0,0,0,1,2018-05-09,235,16,32,237.656,25,1,0,0,2,5,2
677,1,0,0,0,2018-05-09,118,10,37,237.656,28,0,0,0,3,5,2
678,0,0,0,1,2018-05-09,235,20,43,237.656,38,0,1,0,8,5,2
679,1,0,0,0,2018-05-10,179,26,30,237.656,19,1,0,0,1,5,3
680,0,0,0,1,2018-05-10,291,31,40,237.656,25,0,1,1,2,5,3
681,1,0,0,0,2018-05-10,225,15,41,237.656,28,1,2,2,8,5,3
682,0,0,1,0,2018-05-11,300,26,43,237.656,25,0,2,1,64,5,4
683,0,0,0,1,2018-05-11,225,15,41,237.656,28,1,2,2,8,5,4
684,0,0,0,1,2018-05-11,179,26,30,237.656,19,1,0,0,2,5,4
685,0,0,0,1,2018-05-14,118,13,50,237.656,31,0,1,0,2,5,0
686,1,0,0,0,2018-05-15,118,13,50,237.656,31,0,1,0,3,5,1
687,0,0,0,1,2018-05-15,118,10,37,237.656,28,0,0,0,1,5,1
688,0,0,0,0,2018-05-15,118,13,50,237.656,31,0,1,0,0,5,1
689,0,0,0,1,2018-05-16,179,26,30,237.656,19,1,0,0,2,5,2
690,0,0,0,0,2018-05-16,378,49,36,237.656,21,0,2,4,0,5,2
691,0,1,0,0,2018-05-18,179,22,40,237.656,22,1,2,0,1,5,4
692,1,0,0,0,2018-05-21,155,12,34,237.656,25,0,2,0,48,5,0
693,1,0,0,0,2018-05-21,235,16,32,237.656,25,1,0,0,8,5,0
694,0,0,0,1,2018-05-23,291,31,40,237.656,25,0,1,1,8,5,2
695,1,0,0,0,2018-05-23,179,22,40,237.656,22,1,2,0,8,5,2
696,1,0,0,0,2018-05-23,225,26,28,237.656,24,0,1,2,3,5,2
697,1,0,0,0,2018-05-24,330,16,28,237.656,25,1,0,0,8,5,3
698,0,0,0,1,2018-05-24,235,16,32,237.656,25,1,0,0,2,5,3
699,0,0,0,1,2018-05-31,291,31,40,237.656,25,0,1,1,2,5,3